body {
  font-family: "Roboto", sans-serif;
  color: #444444;
}

a {
  color: #f1f7fd;
  text-decoration: none;
}

a:hover {
  color: #f1f7fd;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #f1f7fd;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
/* Estilos para telas maiores */
header {
  background-image: url("/assets/img/header/sessão.svg");
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 900px;
  margin-bottom: 40px;
}

.left-column {
  width: 50%;
  color: #ffffff;
  text-align: center;
}

.left-column h1 {
  font-size: 60px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #3e006b;
  margin: 20px 0;
  word-break: break-word;
  text-align: left;
  margin-left: 17%;
}

.left-column p {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 50px;
  text-align: left;
  margin-left: 17%;
}

.header-icon img {
  margin-top: 30px;
  margin-bottom: 50px;
  width: 240px;
  margin-left: -220px;
}

.left-column img {
  width: 50%;
  margin-left: -90px;
}

.right-column {
  margin-top: 120px;
  width: 50%;
  color: #ffffff;
  text-align: center;
}

/* Estilos para elementos da direita */
.user-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-info span {
  margin-right: 12px;
  font-size: 100%;
  margin-left: 6px;
}

.social-media {
  font-weight: bold;
}

/* Elemento form */
.header-card {
  background-color: #0086d0;
  padding: 50px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
  width: 500px;
  display: inline-block;
  box-sizing: border-box;
  margin-top: 40px;
}

form h1 {
  font-size: 27px;
  font-weight: bold;
  text-align: center;
}

form h3 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 35px;
}

/* Elementos do botão e input do header */
input {
  width: 100%;
  padding: 10px;
  margin: 0 0px 19px 0;
  border: none;
  border-radius: 5px;
  display: inline-block;
  font-weight: bolder;
}

::placeholder {
  color: #000000;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.input-checkbox {
  width: 15px;
  height: 20px;
  margin-right: 4px;
  margin-left: 70px;
}

.label-termos {
  font-size: 12px;
  color: #ffffff;
  margin-top: -12px;
  text-align: center;
  margin-bottom: 10px;
}

label {
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 80;
}
button:disabled {
  pointer-events: none;
  background-color: grey;
  color: white;
  cursor: not-allowed;

}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  display: inline-block;
  background-color: #148fd4;
  color: #ffffff;
  font-weight: bolder;
  margin-top: 10px;
}

button:hover {
  background-color: #f0f0f0;
  color: #bc63ff;
}

/* Estilos para telas menores */
@media (max-width: 768px) {
  header {
    height: auto;
    padding: 50px;
    flex-direction: column; /* Altera para empilhar verticalmente em telas menores */
    align-items: center;
  }

  .left-column,
  .right-column {
    width: 100%; /* Largura total para ambos os lados */
    text-align: center;
    margin-left: 0;
  }

  .left-column img {
    margin-left: 0;
    width: 100%;
    margin-top: 2%;
  }

  .left-column h1 {
    margin-left: 0;
  }

  .left-column p {
    margin-left: 0;
  }

  .header-icon img {
    margin-left: 0;
  }

  .header-card {
    width: 100%;
  }

  input {
    width: 100%;
    margin-left: 0;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  overflow: hidden;
}

.section-bg {
  background-color: #f1f7fd;
}

.section-title {
  padding-top: 120px;
  text-align: center;
  padding-bottom: 30px;
}

.section-title h1 {
  font-size: 52px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #590e89;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #070707;
}

.section-title h3 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #b5aeae;
  text-align: left;
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Por que escolher a Relaci?
--------------------------------------------------------------*/
/* Estilos para os icones */

.section-icon {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.icone-section-title {
  width: 100%;
  text-align: left;
  margin: 20px 0;
  margin-left: 10%;
}

.icone-section-title h1 {
  color: #590e89;
  font-weight: bold;
  margin: 0;
}

.icon {
  text-align: center;
  margin: 20px;
}

.icon img {
  width: 100px;
  height: 100px;
  margin-top: 20px;
}

.icon h2 {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: bold;
  color: #ad63fd;
}

.icon p {
  font-size: 19px;
  margin-top: 5px;
  margin-bottom: 20%;
  margin-left: 15%;
  color: #999;
}

@media (max-width: 768px) {
  .section-icon {
    flex-direction: column; /* Altera para empilhar verticalmente em telas menores */
    align-items: center;
  }

  .icone-section-title {
    width: 100%;
    margin: 20px 0;
    margin-left: 0;
    text-align: center;
  }

  .icon {
    margin: 20px 0;
    text-align: center;
  }

  .icon p {
    margin-top: 20px;
    text-align: center;
    margin-left: 0;
    margin-bottom: 20px;
  }
}

/*--------------------------------------------------------------
# Descubra Nossos Recursos Poderosos
--------------------------------------------------------------*/
/* Selectiona o titulo do card a direita */

.card-section-title {
  width: 100%;
  text-align: left;
  margin-bottom: 30px;
}

.card-section-title h1 {
  color: #590e89;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  margin-left: 10%;
}

.card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card-recurso {
  /* width: calc(33.33% - 20px); */
  width: 41%;
  margin: 0;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.card-recurso-interno {
  background-color: #e9e9e9;
  border-radius: 10px;
  padding: 20px;
}

.card-recurso img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.special-card {
  background-color: #f7f7f7;
}

.card-recurso h1 {
  margin-top: 20px;
  font-size: 25px;
  color: #5e5b5b;
  margin-bottom: 20px;
}

.card-description p {
  margin-top: 20px;
  font-size: 22px;
  text-align: center;
  color: #b5aeae;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .card-row {
    flex-direction: column;
    gap: 0;
  }

  .card-recurso {
    width: 100%;
    margin: 0 0 20px 0;
  }
}

/*--------------------------------------------------------------
# Preços e planos
--------------------------------------------------------------*/
.services {
  background-color: #eddefa;
}

.services .icon-box {
  text-align: center;
  border: 1px solid #ebe9e9;
  padding: 28px 10px 10px 10px;
  transition: all ease-in-out 0.3s;
  border-radius: 10px;
  background-color: #ffffff;
}

.services .icon-box:hover {
  background: #bc63ff;
  border-color: #bc63ff;
}

section {
  text-align: center; /* Centraliza os cartões horizontalmente */
}

.card {
  width: 300px;
  padding: 20px;
  margin: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
  display: inline-block; /* Coloca os cartões lado a lado */
  box-sizing: border-box;
}

.card:hover {
  width: 310px;
  padding: 25px;
  margin: 25px;
  background-color: #bc63ff;
  color: #f0f0f0;
}

.title {
  color: #0086d0;
  margin-bottom: 30px;
}

.description {
  color: #000;
  padding-bottom: 10px;
}

.price {
  color: #0086d0;
  font-size: 2em;
  margin-bottom: 2px;
}

.sepador {
  padding-bottom: 10px;
}

/* hover dos cards */
.card:hover .title {
  color: #fff; /* Cor do título no hover */
}

.card:hover .description {
  color: #fff; /* Cor da descrição no hover */
}

.card:hover .price {
  color: #fff; /* Cor do preço no hover */
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
  display: flex;
  text-align: left;
}

/* .check dos cards de Preços e Planos */
.check {
  background-color: #eff2fe;
  border-radius: 50%;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check i {
  color: #008000;
}

.button {
  display: inline-block;
  padding: 20px 20px;
  background: #0086d0;
  color: #fff;
  text-decoration: none;
  width: 100%;
  font-weight: 500;
  border: 0;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: none;
  line-height: 1;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 50px;
  margin-bottom: 20px;
}

.card:hover .button {
  background: #fff; /* Cor da descrição no hover */
  color: #bc63ff;
}

/*--------------------------------------------------------------
# possibilidades
--------------------------------------------------------------*/
.possibilidades {
  margin-top: 40px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.img-reduzida {
  margin-bottom: 10px;
  max-width: 90%;
  border-radius: 10px;
}

.img-extendida {
  height: 510px; /* Altura da imagem */
  width: 100%;
  border-radius: 10px; /* Arredondamento da borda */
  width: 90%;
  margin-bottom: 10px;
}

.possibilidades-section-title h1 {
  margin-top: 10px;
  margin-bottom: 80px; /* Aumente o espaçamento entre o título e o subtítulo */
  font-size: 60px;
  color: #590e89;
  font-weight: bold;
  text-align: left;
}

.possibilidades-section-subtitulo {
  color: #bbb5b5; /* Cor do título */
  font-size: 19px;
  text-align: left;
}

.possibilidades-button {
  display: inline-block;
  padding: 20px 40px;
  background: #0086d0;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

.possibilidades-button:hover {
  background-color: #f0f0f0;
  color: #bc63ff;
}

/*--------------------------------------------------------------
# Testimonials - depoimentos dos clientes
--------------------------------------------------------------*/

.testimonials .testimonial-wrap {
  padding-left: 50px;
}

.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}

.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px 30px 30px 60px;
  margin: 30px 15px;
  min-height: 200px;
  box-shadow: 0px 2px 12px rgba(44, 73, 100, 0.08);
  position: relative;
  background: #fff;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 10px;
  border: 6px solid #fff;
  position: absolute;
  left: -45px;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: #badaf7;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 15px auto 15px auto;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid rgb(237, 222, 250);
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: rgba(87, 27, 116, 1);
}

@media (max-width: 767px) {
  .testimonials .testimonial-wrap {
    padding-left: 0;
  }

  .testimonials .testimonials-carousel,
  .testimonials .testimonials-slider {
    overflow: hidden;
  }

  .testimonials .testimonial-item {
    padding: 30px;
    margin: 15px;
  }

  .testimonials .testimonial-item .testimonial-img {
    position: static;
    left: auto;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.container-footer {
  padding-left: 7rem !important;
  padding-right: 7rem !important;
  padding-bottom: 15rem !important;
  background: linear-gradient(
    to right,
    rgba(185, 94, 255, 1) 0%,
    rgba(87, 27, 116, 1) 100%
  ) !important;
}

.icon-footer {
  width: 150px;
  text-align: left;
  margin-top: 70px;
  margin-bottom: 50px;
}

#contato-instagram {
  color: #f1f7fd;
}

@media (max-width: 768px) {
  .container-footer {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
  }

  .icon-footer {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 50px;
  }

  .icon-footer img{
  text-align: center;
  margin-left: 10px;
  }

  .footer-links {
    text-align: center;
  }

  .footer-links ul {
    padding-left: 0;
  }

  .footer-links li {
    margin-bottom: 10px;
  
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
  }

  p {
    text-align: center;
  }

  div {
    text-align: center;
    margin-bottom: 0px;
  }
}
